<div class="flex flex-col items-center cursor-pointer group w-12 sm:w-20 hover:text-white">
  <%= heroicon icon, variant: "outline", class: 'h-8 mb-1 group-hover:animate-bounce' %>
  <p class="opacity-0 group-hover:opacity-100 tracking-widest"><%=title%></p>
</div>